


html, body, #root, #root > div {
    margin: 0;
    height: 100%;
}

#root > div {
    display: flex;
    flex-flow: column;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 1 auto;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
}

.message-list {
    /* height: 100%; */
    flex: 1 1 auto;
    overflow-y: hidden;
    /* list-style-type: none; */
    display: flex;
    flex-flow: column;

    .redux-infinite-scroll {
        /* flex: 1 1 auto; */
        overflow: auto;
    }
}

.message-text {
    .images {
        margin-top: 10px;
        .video-wrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }
        .video-wrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        img {
            max-width: 100%;
        }
    }
}

$pad: 0.5em;

.gallery-wrapper {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.gallery {
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;

    @mixin specify-media($min-width, $column, $space) {
        @media only screen and (min-width: $min-width) {
            .item-wrapper {
                padding: $space;
                width: 100%/$column;
                box-sizing: border-box;
            }

        }
    }

    .item img {
       cursor: pointer;
    }

    @include specify-media(400px, 1, $pad);
    @include specify-media(600px, 2, $pad);
    @include specify-media(900px, 3, $pad);
    @include specify-media(1200px, 4, $pad);
}

.masonry {
     column-count: 1;
     column-gap: 1em;
     overflow-y: auto;
     padding: 1em;

     @media only screen and (min-width: 400px) {
         column-count: 1;
     }

     @media only screen and (min-width: 600px) {
         column-count: 2;
     }

     @media only screen and (min-width: 900px) {
         column-count: 3;
     }

     @media only screen and (min-width: 1200px) {
         column-count: 4;
     }

     .item {
         background: #eee;
         display: inline-block;
         margin: 0 0 1em;
         width: 100%;

     }
}
